hydra/.idea/
hydra/node_modules/
hydra/*.iml
hydra/*.exe
hydra/.vagrant
hydra/*.log
hydra/*.stackdump
hydra/.DS_Store
hydra/.hydra.yml
hydra/cover.out
hydra/output/
hydra/_book/
hydra/dist/
hydra/coverage.*
hydra/Dockerfile-plugin-*
hydra/plugin-*.so
hydra/hydra-docker-bin
hydra/cookies.txt
hydra/vendor/
hydra/LICENSE.txt
hydra/./hydra
hydra/!./hydra/
hydra/hydra-login-consent-node
hydra/./cypress/screenshots
hydra/*-packr.go
hydra/packrd/
hydra/persistence/sql/migrations/schema.sql

oauth2_client/node_modules
